
/* Reset */
* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

body {
  color: white;
  background-color: black;
}

/* Graph area */
#graph {
  width: 100%;
  height: 700px;
}

#graph img {
  width: 100%
}

/* Timeline */
#timeline {
  width: 66%;
  height: 300px;
  float: left;

  background-color: DarkGray;
}


/* Details */
#details {
  width: 33%;
  height: 300px;
  float: right;

  background-color: DimGray;
}

#details .data {
  width: 100%;
  height: 100%;
}


/* Loading files */
#loadfileinput {
  position: fixed;
  bottom: 0;
  left: 150px;
}
#loadfilelabel {
  position: fixed;
  bottom: 0;
  left: 0;
}
